body {
  width: 1146px;
  margin: 0;
  padding: 0 27px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  background-color: #849d8f;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  height: 100%;
  position: absolute;
}
img {
  max-width: 100%;
  height: auto;
}
/*
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}*/
.input {
  border-radius: 5px;
  border: 1px solid #d3d3d2;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #999999;
  padding-left: 14px;
}
.button {
  display: inline-block;
  text-decoration: none;
  border-radius: 40px;
  opacity: 0.99;
  box-shadow: 0px 2px 2px 0 var(--deep-red-64);
  background-image: linear-gradient(to top, #e74a35, #f26843);
  text-shadow: 0px 2px 5px rgba(172, 16, 0, 0.64);
  font-family: "Roboto", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  border: none;
}

.link {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
}
.list-style {
  list-style: none;
}
.link:hover,
.link:focus {
  color: #ffbc9e;
}
.visually-hidden {
  display: none;
}

.header {
  display: flex;
  padding-top: 9px;
}
.header-navigation {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 992px;
  height: 64px;
  align-items: center;
}
.logo {
  width: 154px;
  height: 64px;
  display: block;
}
.site-navigation {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  width: 348px;
  margin-left: 10px;
}
.site-navigation a {
  font-weight: 700;
}
.header-navigation-catalog {
  position: relative;
}
.header-navigation-catalog:hover {
  width: 75px;
  height: 27px;
  border-radius: 40px;
  background-color: #f8f7f4;
  padding-top: 5px;
  padding-left: 12px;
  margin-bottom: 5px;
}
.header-navigation-catalog:hover a {
  text-decoration: none;
  color: #323232;
}

.header-navigation-catalog-submenu {
  position: absolute;
  width: 143px;
  height: 171px;
  left: -7px;
  top: 35px;
  background-color: #f8f7f4;
  padding: 0;
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
}
.header-navigation-catalog-submenu li {
  margin-top: 8px;
  margin-left: 20px;
}
.header-navigation-catalog-submenu a {
  text-decoration: none;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
}
.header-navigation-catalog-submenu li:nth-of-type(2) {
  display: block;
  width: 90%;
  margin-left: 5%;
  height: 0.5px;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #323232;
  opacity: 50%;
}
.header-navigation-catalog-submenu li:first-of-type a {
  font-weight: 700;
}
.header-navigation-catalog:hover .header-navigation-catalog-submenu {
  display: block;
}
.user-navigation {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 245px;
}
.header-search-button {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
}
.header-search-button svg {
  margin: 8px;
}
.header-search-form {
  position: absolute;
  width: 341px;
  height: 84px;
  right: 238px;
  top: 59px;
  background-color: #f8f7f4;
  padding: 0;
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
}
.header-search-form .input {
  width: 311px;
  height: 44px;
  margin: 20px 0 0 15px;
}
.header-search:hover {
  background-color: #ffffff;
  border-radius: 50%;
}
.header-search:hover path {
  fill: #000000;
}
.header-search:hover .header-search-form {
  display: block;
}
.header-entrance button {
  position: relative;
  display: flex;
  justify-content: center;
  width: 93px;
  height: 32px;
  border-radius: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  align-items: center;
  border: none;
}
.header-entrance-inscription {
  text-decoration: none;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #ffffff;
  margin-left: 7px;
}
.header-entrance-form {
  position: absolute;
  width: 277px;
  height: 214px;
  right: 134px;
  top: 59px;
  background-color: #f8f7f4;
  padding: 0;
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
}
.header-entrance-form .input {
  width: 226px;
  height: 42px;
  margin-left: 17px;
  margin-top: 20px;
}
.header-entrance-form .button {
  width: 100px;
  height: 44px;
  padding: 0;
  margin-top: 20px;
  margin-left: 19px;
  text-align: center;
}
.header-entrance-form-link {
  position: absolute;
  width: 120px;
  height: 44px;
  right: 20px;
  bottom: 20px;
}
.header-entrance-form a {
  color: #323232;
  font-size: 13px;
  line-height: 24px;
}
.header-entrance:hover .header-entrance-inscription {
  color: #323232;
}
.header-entrance:hover button {
  background-color: #ffffff;
}
.header-entrance:hover button path {
  fill: #000000;
}
.header-entrance:hover .header-entrance-form {
  display: block;
}
.header-basket button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 33px;
  border-radius: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
}
.header-basket-inscription {
  text-decoration: none;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #ffffff;
  margin-left: 7px;
}
.header-basket-full button {
  position: relative;
  width: 93px;
  height: 32px;
  border-radius: 40px;
  opacity: 20%;
  text-align: center;
  border: none;
}
.header-basket-inscription-full::before {
  content: "";
  position: absolute;
  background-image: url(../img/icon-basket-full.svg);
  width: 21px;
  height: 19px;
  left: 10px;
}
.header-contact {
  position: absolute;
  right: 27px;
  top: 60px;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
}
.header-contact span {
  font-size: 22px;
  line-height: 24px;
}
.container {
  display: flex;
  flex-direction: column;
}
.slide {
  position: absolute;
  z-index: -1;
  top: 5px;
  left: 75px;
}
.slide-one-discription {
  position: absolute;
  top: 331px;
  left: 190px;
}
.slide p {
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
  text-align: center;
}
.slide .button {
  position: relative;
  left: 195px;
  bottom: 28px;
  font-size: 32px;
  line-height: 44px;
  padding: 8px 42px 12px 40px;
}
.special-offers {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  position: relative;
  margin-top: 555px;
  padding: 0;
  margin-bottom: 40px;
}
.special-offers h3 {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  margin: 15px 20px;
}
.special-offers p {
  margin: 10px 20px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}
.special-offers-raspberries {
  background-image: url(../img/raspberries.jpg);
  background-repeat: no-repeat;
  position: relative;
  width: 560px;
  height: 229px;
  border-radius: 15px;
  padding: 0;
}
.special-offers-raspberries .button {
  position: absolute;
  right: 21px;
  bottom: 24px;
  width: 165px;
}
.special-offers-chocolate {
  background-image: url(../img/chocolate.jpg);
  background-repeat: no-repeat;
  position: relative;
  width: 560px;
  height: 229px;
  border-radius: 15px;
}
.special-offers-chocolate .button {
  position: absolute;
  right: 21px;
  bottom: 24px;
  width: 189px;
}
.bestseller-product {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  /*margin-bottom: 40px;*/
  list-style: none;
}
.bestseller-product li {
  position: relative;
}
.bestseller-product-item::after {
  content: "";
  position: absolute;
  width: 61px;
  height: 61px;
  background-image: url(../img/label-hit.png);
  top: 0;
  left: 0;
}
.product-item {
  position: relative;
  width: 267px;
  height: 362px;
  text-align: center;
}
.product-item-overlay {
  position: absolute;
  top: -6px;
  left: -13px;
  background: rgba(256, 256, 256, 0.3);
  width: 293px;
  height: 405px;
  z-index: -1;
  display: none;
}
.product-item-overlay button {
  position: absolute;
  padding: 13px 17px;
  bottom: 17px;
  left: 40px;
}
.product-item img {
  border-radius: 50%;
}
.product-item h3 {
  margin: 0;
  margin-top: 5px;
  position: relative;
  z-index: 10;
}
.product-item a {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 500;
  color: #ffffff;
  font-size: 16px;
  line-height: 22px;
}
.product-item p {
  position: absolute;
  top: 210px;
  font-size: 45px;
  line-height: 45px;
  margin: 0;
  font-weight: 700;
}
.product-item:hover .product-item-overlay {
  display: block;
}
.features {
  position: relative;
  height: 306px;
  background-image: url(../img/waffles.jpg);
  background-repeat: no-repeat;
  margin-bottom: 40px;
  border-radius: 15px;
}
.features-content {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-left: 75px;
}
.features h2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: #323232;
  margin: 25px 0 0 20px;
}
.features-list {
  width: 480px;
  padding: 0;
  margin: 0;
}
.features-list:last-of-type {
  margin-right: 23px;
}
.features-item {
  display: flex;
  color: #323232;
  margin-bottom: 20px;
}
.features-list:first-of-type .features-item:first-of-type::before {
  content: "";
  position: absolute;
  background-image: url(../img/ice-cream-icon.svg);
  width: 49px;
  height: 49px;
  top: 93px;
  left: 20px;
}
.features-list:first-of-type .features-item:last-of-type::before {
  content: "";
  position: absolute;
  background-image: url(../img/list-icon.svg);
  width: 49px;
  height: 49px;
  top: 181px;
  left: 20px;
}
.features-list:last-of-type .features-item:first-of-type::before {
  content: "";
  position: absolute;
  background-image: url(../img/cow-icon.svg);
  width: 49px;
  height: 49px;
  top: 93px;
  right: 512px;
}
.features-list:last-of-type .features-item:last-of-type::before {
  content: "";
  position: absolute;
  background-image: url(../img/thermometer-icon.svg);
  width: 49px;
  height: 49px;
  top: 181px;
  right: 512px;
}
.index-columns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.new-in-blog {
  background-image: url(../img/ice-cream-background.jpg);
  background-repeat: no-repeat;
  border-radius: 15px;
  padding: 0;
  width: 560px;
  height: 220px;
}
.new-in-blog h2 {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #323232;
  margin: 26px 20px 13px;
}
.new-in-blog a {
  display: inline-block;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #323232;
  margin: 0px 250px 83px 20px;
}
.newsletter-subscription {
  background-image: url(../img/mail-background.png);
  background-repeat: no-repeat;
  border-radius: 15px;
  width: 560px;
  height: 220px;
}
.newsletter-subscription-background {
  position: relative;
  width: 549px;
  height: 211px;
  background-color: #f8f7f4;
  border-radius: 15px;
  top: -12px;
  left: 5px;
}
.newsletter-subscription p {
  position: relative;
  color: #5a5a5a;
  margin-left: auto;
  margin-right: auto;
  top: 33px;
  width: 506px;
}
.newsletter-subscription-form {
  margin-top: 65px;
  margin-left: 20px;
}
.newsletter-subscription-form .input {
  width: 354px;
  height: 44px;
}
.newsletter-subscription-form .button {
  width: 129px;
  height: 44px;
  padding-top: 0;
}
.contacts {
  position: relative;
  width: 1200px;
  height: 430px;
}
.contacts img {
  width: 100%;
  height: auto;
}
.contacts-content {
  position: absolute;
  top: 63px;
  right: 52px;
  width: 277px;
  height: 287px;
  border-radius: 15px;
  background-color: #ffffff;
  font-size: 14px;
  line-height: 20px;
  color: #323232;
  padding-top: 18px;
  padding-left: 25px;
}
.contacts-content span {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}
.contacts-content .button {
  width: 252px;
  margin-top: 12px;
}
.footer {
  display: flex;
  height: 103px;
  justify-content: space-between;
}
.social-networks {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 185px;
  padding: 0;
  margin-top: 32px;
  margin-bottom: 10px;
}
.social-networks img {
  opacity: 80%;
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}
.footer-informetion {
  display: flex;
  width: 355px;
  height: 32px;
  margin-top: 25px;
}
.footer-informetion ul {
  margin: 0;
  padding: 0;
}
.footer-informetion ul:first-child {
  margin-right: 32px;
}
.footer-informetion a {
  font-size: 13px;
  line-height: 18px;
}
li .icone-heart {
  position: relative;
}
.icone-heart::before {
  content: "";
  position: absolute;
  background-image: url(../img/icone-heart.svg);
  width: 15px;
  height: 13px;
  left: -20px;
  top: 2px;
}
.copyright {
  width: 200px;
  font-size: 12px;
  font-weight: 18px;
  margin-top: 15px;
}
.copyright p {
  margin: 0;
}
.copyright a {
  font-size: 12px;
  line-height: 18px;
}
.copyright-logo {
  background-image: url(../img/logo-htmlacademy.svg);
  background-repeat: no-repeat;
  width: 108px;
  height: 37px;
}
.feedback-form {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -239px;
  margin-left: -221.5px;
  width: 478px;
  height: 443px;
  border-radius: 10px;
  padding: 17px 18px;
  box-sizing: border-box;
  background-color: #f8f7f4;
}
.feedback-form h3 {
  margin: 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #323232;
  margin-bottom: 18px;
}
.feedback-form-close {
  position: absolute;
  top: 17px;
  right: 17px;
  width: 18px;
  height: 17px;
  border: 0;
  cursor: pointer;
  background-color: #f8f7f4;
}
.feedback-form-close::before,
.feedback-form-close::after {
  content: "";
  top: 7px;
  right: -2px;
  position: absolute;
  width: 22px;
  height: 2px;
  background-color: black;
}
.feedback-form-close::before {
  transform: rotate(45deg);
}
.feedback-form-close::after {
  transform: rotate(-45deg);
}
.feedback-form input {
  width: 267px;
  height: 44px;
  margin-bottom: 20px;
  box-sizing: border-box;
}
.feedback-form textarea {
  width: 428px;
  height: 155px;
  margin-bottom: 19px;
  box-sizing: border-box;
}
.feedback-form .button {
  padding: 0;
  width: 139px;
  height: 45px;
}
.breadcrumbs {
  margin-bottom: 10px;
}
.container h1 {
  margin-bottom: 38px;
}
.filters {
  margin-bottom: 38px;
}
.catalog-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-bottom: 80px;
}
.pagination-list {
  margin-bottom: 30px;
}
